@page "/about"


    

<div class="row TopPart">
    <div class="col-md-2 LinkAboutSpan">
        <div class="HeaderPart">
        <span class="oi oi-elevator" aria-hidden="true"></span>
        </div>
        
    </div>
    <div class="col-md-10 no-gutters LinkAboutUs">
        <div class="HeaderPart">
        <h1> ABOUT US</h1>
        </div> 
    </div>
</div>

<div class="row TopPart2">
    <div class="col-md-3 no-gutters">
        <div class="dv1">
            <h1>9</h1>
            <p>Books</p>
        </div>
    </div>
    <div class="col-md-3 no-gutters">
        <div class="dv2">
            <h1>5</h1>
            <p>Years Experience</p>
        </div>
    </div>
    <div class="col-md-3 no-gutters">
        <div class="dv3">
            <h1>50</h1>
            <p>Visitors</p>
        </div>
    </div>
    <div class="col-md-3 no-gutters">
        <div class="dv4">
            <h1>%95</h1>
            <p>Successful Delivery</p>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-4">
        <span class="oi oi-chevron-right"></span>
    </div>
    <div class="col-lg-8">
        <div class="AboutMain">
            <h1>About Our Library Company</h1>
            <p>
                >> As Library, our aim is to provide the most loved people with the highest love for books
                to bring the most popular books to those beautiful people as soon as possible.
                It is striking that books are the only true heritage throughout history...
            </p>
            <p>
                >> From this point of view, we are also talking about people 
                who love books to those few beautiful people.
                We cannot even describe how happy and proud we are to provide this service.
                As a library, to reduce the effect of Pandemic with books and
                We consider it a duty to make this bad situation forget as much as possible...
            </p>
            <p>
                >> With the happiness of doing this task properly and meeting nice people for 5 years,
                We will continue our mission ambitiously...
            </p>
            <h2>
                >> Come to Library, don't be left without a book...
            </h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 AboutMainSecond">
        <div class="AboutMain">
            <h1>About Our Library Visitors</h1>
            <p>
                >> As Library, we have 50 visitors in our company. We respect each of them for choosing us.
                They find the books they wanted or they discover new books we recommended to them.
                With this way they are being happy and it makes us happier that we can help them to
                find really good books...
            </p>
            <p>
                >> In the mean time, They help us to do our job much better. How do they help us?
                They help us with sharing their valuable ideas and we consider that for us to be better.
                We expect many many people to join us. Why? Because We know your worthy...
            </p>
            <p>
                >> The most important thing in the world is being concious and try to improve yourself 
                no matter what. Don't forget you are important, you just need to realise that...
            </p>
            <h2>
                >> Come to Library, don't be left without a book...
            </h2>
        </div>
    </div>
    <div class="col-md-4">
        <span class="oi oi-chevron-left"></span>
    </div>
</div>


<div class="footer">
    <div class="section">Adress</div>
    <div class="section">Contact Number</div>
    <div class="section">Email Adress</div>
    <div class="section">About Us</div>
</div>

@code {
    
}
