@page "/contact"


<div class="row TopPart">
    <div class="col-md-2 LinkAboutSpan">
        <div class="HeaderPart">
            <span class="oi oi-thumb-up" aria-hidden="true"></span>
        </div>

    </div>
    <div class="col-md-10 no-gutters LinkAboutUs">
        <div class="HeaderPart">
            <h1>CONTACT</h1>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 IndexPage">
    <h1> > Library Application</h1>
    <p>If you have any question you can contact us...It is a pleasure to help you for us...</p>
</div>
</div>

<div class="row">
    <div class="col-4">
       <span class="oi oi-check"></span>
    </div>
    <div class="col-8">
        Name*(Gerekli):
        <input type="text" class="form-control" placeholder="Name" required />
        <br />
        Email*(Gerekli):
        <input type="text" class="form-control" placeholder="Email-Adress" required />
        <br />
        Topic:
        <input type="text" class="form-control" placeholder="Topic" />
        <br />
        Message:
        <br />
        <textarea class="form-control" placeholder="What you wanna say?">
    
    </textarea>
        <br />
        <button class="btn btn-secondary">Submit</button>
    </div>
</div>

    <div class="footer">
        <div class="section">Adress</div>
        <div class="section">Contact Number</div>
        <div class="section">Email Adress</div>
        <div class="section">About Us</div>
    </div>

    @code {

    }
